* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
}

header {
  background-color: #f5ba13;
  margin: auto 0;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  display: inline-block;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  bottom: 0;
  display: block;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

footer p {
  color: #ccc;
}

.noteBoard {
  /* position: relative; */
  padding: 0 16px 16px;
  min-height: 80vh;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
